$bodyColor: #ecf8fb;
$headerColor: #081820;
$footerColor: #081820;

$headerTextColor: #c6e6eb;
$footerTextColor: #c6e6eb;

// $headerText:



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyColor;
    position: relative;
    // min-height: 100vh;
    margin: 0 auto;
}

.main-container {
    max-width: 1200px;
    padding-top: 100px;
}

.table-container {
    overflow-x: auto;
}

// card

#card-container {
    padding-bottom: 100px;
}

.card {
    margin-top: 50px;

}


// header

.navbar {
    background-color: $headerColor;

    .navbar-brand {
        color: $headerTextColor;
        // font-family: $headerText;
    }

    .navbar-brand img {
        width: 35px;
        margin-right: 8px;
    }

    .nav-item a {
        color: $headerTextColor;
        // font-family: $headerText;
        // text-align: center;
    }

    .navbar-toggler span {
        color: $headerTextColor
    }

}

// .navbar {
//     background-color: $headerColor;

//     .navbar-brand {
//         color: $headerTextColor;
//         font-family: $navText;
//     }

//     .nav-item a {
//         color: $headerTextColor;
//         font-family: $navText;
//         text-align: center;
//     }

//     .logo {
//         display: inline-block;
//         width: 35px;
//     }
// }

// .footer {
//     background-color: $footerColor;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;

//     p {
//         padding: 10px;
//         margin-bottom: 0;
//         color: $footerTextColor;
//     }
// }



// footer

.footer {
    background-color: $footerColor;
    color: $footerTextColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}