* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  padding: 0;
}

.container .row {
  margin: 0;
}

.bg-trans-list {
  background-image: url("../images/bg-main.png");
  padding-top: 60px;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.transaction-container {
  margin-top: 50px;
}

.transaction-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.8rem;
  font-weight: 700;
}

.transaction-container input {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.table-container .icon-container i {
  font-size: 1.5rem;
}

.table thead th {
  vertical-align: middle;
}

.sort-container a i {
  color: #2068A0;
  font-size: 1.3rem;
  margin-right: 6px;
}

.table a {
  color: #3d8bc7;
}

.transaction-info-container,
.transactions-edit-container,
.profile-status-container,
.reservation-add-container {
  margin-top: 25px;
}

.transaction-info-container h2,
.transactions-edit-container h2,
.profile-status-container h2,
.reservation-add-container h2 {
  font-size: 2.8rem;
}

.transaction-info-container h3,
.transactions-edit-container h3,
.profile-status-container h3,
.reservation-add-container h3 {
  margin-top: 20px;
}

.transaction-info-container h3 a,
.transactions-edit-container h3 a,
.profile-status-container h3 a,
.reservation-add-container h3 a {
  color: #2068A0;
}

.transaction-info-container .image-container img,
.transactions-edit-container .image-container img,
.profile-status-container .image-container img,
.reservation-add-container .image-container img {
  border-radius: 10px;
}

.transaction-info-container .button-container button,
.transactions-edit-container .button-container button,
.profile-status-container .button-container button,
.reservation-add-container .button-container button {
  border-radius: 13px;
  margin-right: 10px;
}

.transaction-info-container .table,
.transactions-edit-container .table,
.profile-status-container .table,
.reservation-add-container .table {
  margin-top: 20px;
}

.bg-add-cars {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-add.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.cars-add-container .cars-add-header {
  margin-bottom: 25px;
}

.cars-add-container .cars-add-header h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.cars-add-container .cars-add-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.cars-add-container .add-image {
  text-align: center;
}

.cars-add-container .add-image .img-thumbnail {
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.cars-add-container .add-image .img-thumbnail:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.cars-add-container .add-form input[type="text"], .cars-add-container .add-form input[type="number"], .cars-add-container .add-form select {
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.cars-add-container .add-form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.cars-add-container .add-form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.cars-add-container .add-form label {
  font-weight: 500;
}

.cars-add-container .btn-block {
  width: 40%;
  height: 35px;
  background-color: #8ac832;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  outline: none;
}

.cars-add-container .btn-block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #2d2f31;
  color: #8ac832;
}

.bg-car-info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-car-info.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.car-info-container .car-info-header {
  margin-bottom: 40px;
}

.car-info-container .car-info-header h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.car-info-container .car-info-body .car-image img {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.car-info-container .car-info-body .table {
  margin-bottom: 25px;
}

.car-info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-info-container .button-container .btn-block {
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 15px;
}

.car-info-container .button-container a {
  text-decoration: none;
}

.car-info-container .button-container .update {
  background-color: #8ac832;
  color: #2d2f31;
}

.car-info-container .button-container .update:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.car-info-container .button-container .delete {
  background-color: #e64457;
  color: white;
}

.car-info-container .button-container .delete:hover {
  background-color: white;
  border: solid 1px #e64457;
  color: #e64457;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-car-edit {
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: url("../images/bg-car-edit.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.car-edit-container .car-edit-header {
  margin-bottom: 25px;
}

.car-edit-container .car-edit-header h3 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.car-edit-container .car-edit-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.car-edit-container .add-image {
  text-align: center;
}

.car-edit-container .add-image .img-thumbnail {
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.car-edit-container .add-image .img-thumbnail:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.car-edit-container .add-form input[type="text"], .car-edit-container .add-form input[type="number"], .car-edit-container .add-form select {
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.car-edit-container .add-form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.car-edit-container .add-form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.car-edit-container .add-form label {
  font-weight: 500;
}

.car-edit-container .btn-block {
  width: 40%;
  height: 35px;
  background-color: #8ac832;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  outline: none;
}

.car-edit-container .btn-block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #2d2f31;
  color: #8ac832;
}

.bg-login {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-login.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-container .login-header {
  margin-bottom: 25px;
}

.login-container .login-header h3 {
  text-align: center;
  width: 40%;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
  margin-left: 20px;
}

.login-container .login-form input[type="text"], .login-container .login-form input[type="password"] {
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.login-container .login-form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.login-container .login-form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.login-container .login-form label {
  font-weight: 500;
}

.login-container .btn-block {
  background-color: red;
  width: 45%;
  height: 40px;
  background-color: #8ac832;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  margin-bottom: 18px;
  outline: none;
}

.login-container .btn-block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #2d2f31;
  color: #8ac832;
}

.bg-register {
  padding-top: 40px;
  padding-bottom: 100px;
  background-image: url("../images/bg-register.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.register-container .register-header {
  margin-bottom: 18px;
}

.register-container .register-header h3 {
  text-align: center;
  width: 40%;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
  margin-left: 20px;
}

.register-container .register-form input[type="text"], .register-container .register-form input[type="email"], .register-container .register-form input[type="number"], .register-container .register-form input[type="password"] {
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.register-container .register-form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.register-container .register-form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.register-container .register-form label {
  font-weight: 500;
}

.register-container .btn-block {
  width: 45%;
  height: 40px;
  background-color: #8ac832;
  border-radius: 20px;
  border: none;
  margin-top: 25px;
  margin-bottom: 18px;
  outline: none;
}

.register-container .btn-block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #2d2f31;
  color: #8ac832;
}

.bg-main {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-main.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-container .head-container {
  margin-bottom: 200px;
}

.main-container .head-container .welcome-container {
  margin-bottom: 50px;
}

.main-container .head-container .welcome-container h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 50px;
}

.main-container .head-container .welcome-container h1 span {
  color: #8ac832;
}

.main-container .head-container .welcome-container h3 {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
  border-bottom: 1px solid #909399;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.main-container .head-container .welcome-container p {
  color: #2d2f31;
  line-height: 30px;
}

.main-container .head-container .offer-container {
  text-align: center;
  margin-bottom: 25px;
}

.main-container .head-container .offer-container .offer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .head-container .offer-container .offer-header h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.main-container .head-container .offer-container .offer-header span {
  margin-right: 10px;
}

.main-container .head-container .offer-container p {
  font-size: 1.2rem;
  color: #2d2f31;
  margin: 0;
}

.main-container .head-container .offer-container span i {
  font-size: 3rem;
  color: #8ac832;
}

.main-container .head-container .offer-container .col {
  margin-bottom: 30px;
}

.main-container .head-container .process-head-container {
  text-align: center;
  margin-bottom: 25px;
}

.main-container .head-container .process-head-container h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 2.5rem;
  border-bottom: 1px solid #909399;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.main-container .head-container .process-container {
  margin-bottom: 100px;
}

.main-container .head-container .process-container h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.main-container .head-container .process-container span i {
  font-size: 3rem;
  color: #8ac832;
  margin-bottom: 10px;
}

.main-container .body-container h3 {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px solid #909399;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "PT Sans", sans-serif;
}

.main-container .body-container .search-container {
  margin-bottom: 50px;
}

.main-container .body-container #card-container .card {
  min-height: 400px;
  margin-bottom: 50px;
  width: 320px;
  padding: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  padding-top: 10px;
}

.main-container .body-container #card-container .card .option-container {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: right;
}

.main-container .body-container #card-container .card .option-container i {
  color: #909399;
}

.main-container .body-container #card-container .card .card-img-top {
  max-height: 180px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.main-container .body-container #card-container .card .card-body a:hover {
  text-decoration: none;
}

.main-container .body-container #card-container .card .card-body .card-title {
  text-align: center;
  font-weight: 600;
}

.main-container .body-container #card-container .card .card-body .card-desc {
  text-align: center;
  color: #909399;
}

.main-container .body-container #card-container .card .card-body .card-text {
  text-align: center;
  font-size: 1.2rem;
}

.main-container .body-container #card-container .card .card-body .btn-block {
  width: 45%;
  height: 40px;
  background-color: #8ac832;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
  outline: none;
}

.main-container .body-container #card-container .card .card-body .btn-block:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #2d2f31;
  color: #8ac832;
}

.bg-reserve-add {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-reserve.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.reserve-add-container .reserve-add-header {
  margin-bottom: 40px;
}

.reserve-add-container .reserve-add-header h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.reserve-add-container .reserve-add-body .reserve-image img {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.reserve-add-container .reserve-add-body form input[type="date"], .reserve-add-container .reserve-add-body form select {
  width: 80%;
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.reserve-add-container .reserve-add-body form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.reserve-add-container .reserve-add-body form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.reserve-add-container .button-container {
  margin-top: 15px;
}

.reserve-add-container .button-container .btn-block {
  width: 50%;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #8ac832;
  color: #2d2f31;
}

.reserve-add-container .button-container .btn-block:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-reserve-info {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-reserve-info.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.reserve-info-container .reserve-info-header {
  margin-bottom: 40px;
}

.reserve-info-container .reserve-info-header h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.reserve-info-container .reserve-info-body .table {
  margin-bottom: 25px;
}

.reserve-info-container .reserve-info-body .table .label {
  font-weight: 600;
}

.reserve-info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reserve-info-container .button-container .btn-block {
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 15px;
}

.reserve-info-container .button-container a {
  text-decoration: none;
}

.reserve-info-container .button-container .confirm {
  background-color: #8ac832;
  color: #2d2f31;
}

.reserve-info-container .button-container .confirm:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.reserve-info-container .button-container .cancel {
  background-color: #e64457;
  color: white;
}

.reserve-info-container .button-container .cancel:hover {
  background-color: white;
  border: solid 1px #e64457;
  color: #e64457;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-prof-status {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-prof-status.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.prof-status-container .prof-status-header {
  margin-bottom: 40px;
}

.prof-status-container .prof-status-header h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.prof-status-container .prof-status-body .reserve-image .image-container img {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.prof-status-container .prof-status-body .reserve-image h3 a {
  color: #0058a0;
}

.prof-status-container .prof-status-body .table {
  margin-bottom: 25px;
  min-width: 50%;
}

.prof-status-container .prof-status-body .table .row-header {
  font-weight: 600;
}

.prof-status-container .button-container .btn-block {
  width: 50%;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 15px;
}

.prof-status-container .button-container a {
  text-decoration: none;
}

.prof-status-container .button-container .confirm {
  background-color: #8ac832;
  color: #2d2f31;
}

.prof-status-container .button-container .confirm:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.prof-status-container .button-container .cancel {
  background-color: #e64457;
  color: white;
}

.prof-status-container .button-container .cancel:hover {
  background-color: white;
  border: solid 1px #e64457;
  color: #e64457;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-prof-list {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-main.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.prof-list-container .prof-list-header {
  margin-bottom: 30px;
}

.prof-list-container .prof-list-header h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.prof-list-container .search-container {
  margin-bottom: 15px;
}

.bg-trans-list {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-main.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.trans-list-container .trans-list-header {
  margin-bottom: 30px;
}

.trans-list-container .trans-list-header h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.trans-list-container .search-container {
  margin-bottom: 15px;
}

.bg-trans-info {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url("../images/bg-trans-info.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.trans-info-container .trans-info-header {
  margin-bottom: 40px;
}

.trans-info-container .trans-info-header h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.trans-info-container .trans-info-body .info-image .image-container img {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.trans-info-container .trans-info-body .info-image h3 a {
  color: #0058a0;
}

.trans-info-container .trans-info-body .table {
  margin-bottom: 25px;
  min-width: 50%;
}

.trans-info-container .trans-info-body .table .row-header {
  font-weight: 600;
}

.trans-info-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trans-info-container .button-container .btn-block {
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-right: 15px;
}

.trans-info-container .button-container a {
  text-decoration: none;
}

.trans-info-container .button-container .update {
  background-color: #8ac832;
  color: #2d2f31;
}

.trans-info-container .button-container .update:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.trans-info-container .button-container .delete {
  background-color: #e64457;
  color: white;
}

.trans-info-container .button-container .delete:hover {
  background-color: white;
  border: solid 1px #e64457;
  color: #e64457;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-trans-edit {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-trans-edit.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.trans-edit-container .trans-edit-header {
  margin-bottom: 40px;
}

.trans-edit-container .trans-edit-header h3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
}

.trans-edit-container .trans-edit-body .trans-image img {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.trans-edit-container .trans-edit-body .trans-image h3 a {
  color: #0058a0;
}

.trans-edit-container .trans-edit-body .trans-image .image-container {
  margin-bottom: 20px;
}

.trans-edit-container .trans-edit-body form input[type="date"], .trans-edit-container .trans-edit-body form select {
  width: 80%;
  outline: 0;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.trans-edit-container .trans-edit-body form input:hover {
  -webkit-box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
          box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.trans-edit-container .trans-edit-body form input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.trans-edit-container .button-container {
  margin-top: 15px;
}

.trans-edit-container .button-container .btn-block {
  width: 50%;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #8ac832;
  color: #2d2f31;
}

.trans-edit-container .button-container .btn-block:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.bg-dashboard {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-dashboard.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.dashboard-container {
  text-align: center;
}

.dashboard-container h3 {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid 1px black;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
}

.dashboard-container .board {
  padding: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  background-color: #f1f3f6;
  border-radius: 10px;
}

.dashboard-container .board h4 {
  font-size: 1.8rem;
  color: #0058a0;
  margin-bottom: 10px;
  font-weight: 500;
}

.dashboard-container .board p {
  font-size: 1.5rem;
}

.dashboard-container .button-container {
  margin-top: 15px;
}

.dashboard-container .button-container .btn-block {
  width: 50%;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #8ac832;
  color: #2d2f31;
}

.dashboard-container .button-container .btn-block:hover {
  background-color: #2d2f31;
  color: #8ac832;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.navbar {
  border-top: solid 1px #f3f9fa;
  background-color: #081820;
}

.navbar .navbar-brand {
  color: #8ac832;
}

.navbar .navbar-brand img {
  width: 35px;
  margin-right: 8px;
}

.navbar .nav-item a {
  color: #f3f9fa;
  text-align: center;
}

.navbar .nav-item a:hover {
  color: #8ac832;
  text-decoration: underline;
}

.navbar .navbar-toggler span {
  color: #f3f9fa;
}

.navbar .dropdown-menu {
  background-color: #081820;
  color: #081820;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #f3f9fa;
  color: #081820;
}

.footer {
  background-color: #081820;
  color: #f3f9fa;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 400px) {
  .bg-login {
    background-image: none;
    padding-bottom: 0px;
    padding-top: 70px;
  }
  .bg-add-cars {
    background-image: none;
    padding-top: 50px;
  }
  .cars-add-container {
    margin-bottom: 70px;
  }
  .offer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container .body-container #card-container .card {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .bg-car-info {
    background-image: none;
    padding-top: 70px;
  }
  .car-info-body {
    padding-bottom: 50px;
  }
  .car-info-body .car-image {
    margin-bottom: 30px;
  }
  .bg-car-edit {
    background-image: none;
  }
  .car-edit-container {
    margin-bottom: 70px;
  }
  .bg-reserve-add {
    background-image: none;
  }
  .bg-reserve-info {
    background-image: none;
    padding-bottom: 150px;
  }
  .bg-trans-info {
    background-image: none;
    padding-bottom: 150px;
  }
  .bg-dashboard {
    background-image: none;
  }
  .bg-dashboard .board {
    margin-right: 0;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .cars-add-container {
    margin-left: 10px;
  }
  .car-edit-body {
    margin-right: 10px;
  }
  .main-container .body-container #card-container .card {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .bg-reserve-add {
    background-image: url("../images/bg-reserve2.png");
  }
}
/*# sourceMappingURL=style.css.map */